/* reset basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #cbc8c8;
}

li {
    list-style-type: none;
    
}

a {
    text-decoration: none;
    color: black;
}

main {
    margin: 0 auto;
    max-width: 800px;
}

header {
    padding : 20px;
}

.nav-menu {
    display: flex;
    justify-content: space-around;
}

.nav-menu li {
    padding: 10px;
    background-color: #e0e0e0;
    border-radius: 10px;
}

.name-photo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.name-photo img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}